{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
<h2>About The Open Frest</h2>
<p>
The Open Forest is a social network site for small to medium sized landowners and stewards. The open forest has the following goals:
</p>
<ol>
<li>To collect and share ideas, experiences, and information about our forests</li>
<li>To promote sustainable management of forested lands</li>
<li>To provides value-added services for responsible land users</li>
</ol>
<p>
The Open Forest  is built on a social networking framework using <a href="http://pinaxproject.com/">Pinax</a> and <a href="https://www.djangoproject.com/">Django</a>. This means it has many of the components of other social networks including friends, photos, and comments.
</p>
<p>
The Open Forest has several features and components. I will be adding descriptions and tutorials about what these do and how to use them in the coming weeks so stay tuned.  
</p>
<h3>Components</h3>
<ul>
<li>Projects - Projects consist of maps, features, a story, a journal</li>
<li>Features</li>
<li>Tribes</li>
<li>Friends</li>
<li>Notifications</li>
<li>Profiles</li>
<li>Photos and Photo Galleries</li>
</ul>
<h5>Updated July 17, 2011</h5> 

	    

{% endblock %}
