{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}

<h2>About The Open Forest</h2>
The open forest has the following goals:
<ol>
<li>To collect and share ideas, experiences, and information about our forests</li>
<li>To promote sustainable management of forested lands</li>
<li>To provides value-added services for responsible land users</li>
</ol>
<p>
The Open Forest  is built on a social networking framework using Pinax and Django. This means it has many of the components of other social networks including friends, photos, and comments.
</p>
<p>
The Open Forest has several features and components. I will be adding descriptions and tutorials about what these do and how to use them in the coming weeks so stay tuned.  
</p>
<h3>Components</h3>
<dl>
<dt>Projects</dt>
<dd>Projects consist of maps, features, a story, a journal, a photo, and a photo gallery. Project is one of the first things will will create on the Open Forest</dd>
<dt>Features</dt>
<dd>Features are similar to projects. They contain a  map, a story, and a journal as well. The difference is that a feature must belong to a Project.</dd>
<dt>Tribes</dt>
<dd>Tribes are a way to share your Projects and Features will your friends. Memebers of your tribe are allowed to add pictures, journal entries, and features to your Projects. So becareful who you let into your tribes.</dd>
<dt>Friends</dt>
<dd>Friends are way to connect with others on the Open Forest. Friends are an easy way to keep other informed about the changes you make to your projects.</dd>
<dt>Notifications</dt>
<dt>Profiles</dt>
<dd>Keep your profiles up-to-date to let other know a who your are and a little bit about you.</dd>
<dt>Photos and Photo Galleries</dt>
<dd>Uploads photos to your account. Photos can then be assigned to Project or a Feature or to their photo galleries. </dd>
</dl>
<h5>Updated July 18, 2011</h5>
{% endblock %}
