Thank you for registering with the Open Forest. This site is in beta mode. In order to make the site better I would like your help. You can help by reporting any bugs or weird behavoir you find or send any suggestions you have for ways to improve the site to support@theopenforest.com

<h3>Quick Start</h3>
Let me give you a brief overview of what you can do on theopenforest.com. 
This guide and more can be found at <a href={% url help %}>theopenforest.com/help/</a>.

<dl>
	<dt>1. Setup a <strong>Project</strong></dt>
	<dd>
	<strong>Projects</strong> are how forest information is stored in theopenforest. 
	A <strong>Project</strong> consists of a name, a map, and a some text describing the project. 
	Making a <strong>Project</strong> can be done by clicking on the New Project 
	link in the menu on the left side of the page. You can have up to 5 Projects on a free account. 
	Premium accounts get unlimited Projects.
	</dd>
	
	<dt>2. Add <strong>Features</strong> to a <strong>Project</strong></dt>
	<dd>
	After you set up a project you can add <strong>Features</strong> to it. 
	A Feature is very similar to a Project. In fact, the only difference is that 
	when you create a Feature, you must asign it to an existing Project. To add 
	a Feature, click on the Projects link in the top navigation bar and the click 
	on the <strong>Create New Project</strong> link. This time mark the Project 
	as a Feature and then select the Project you want to attach it to from the 
	list. You can have up to five features for each Project on a free account. 
	Premium accounts get unlimited features.
	</dd>
	
	<dt>3. Add Photos to a Project or Feature.</dt>
	<dd>
	Each Project and Feature gets a Photo Gallery. In addition to the Photo 
	Gallery you can select a Photo as a representitave of the Project or Feature. 
	The first thing you need to do is upload some Photos. This can be done by 
	clicking on the <strong>Photos</strong> button in the top navigation bar then 
	clicking <strong>Upload a Photo</strong>.  Once you have a <stong>Photo</stong>strong> 
	uploaded you can give it a caption and assign it to a Project by clicking on 
	<strong>Photos >> My Photos</strong> in the top navigation bar.
	</dd>
</dl>