{% extends "features/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Editing Post{% endblocktrans %}{% endblock %}

{% block extra_head %}
  <script src="http://173.255.213.55/wb/media/js/jquery-1.5.2.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://173.255.213.55/wb/media/js/gmap-0.2.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}features/mapper.js"></script>
{% endblock %}

{% block body %}
    {% ifequal post.author request.user %}
    <div><button onclick='window.location="/features/new/?project={{post.id}}"'>Add Feature</button> </div>
    <form class="uniForm" id="edit-profile" method="POST" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
        	{% include "features/gmap_edit.html" %}
            {{ blog_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="update" />
            <input type="submit" value="{% trans "Update" %}"/>
            </div>
        </fieldset>
    </form>
    
    {% else %}
    <p>{% trans "You are not the author of this post" %}</p>
    {% endifequal %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#blog_form').validate('{% url blog_form_validate %}', {type: 'table'});
        });
    </script>
{% endblock %}
