{% load account_tags %}
{% load switchcase %}
{% load restructuredtext %}
{% load wakawaka_tags %}
{% load markup %}
{% load gravatar %}
{% load extra_tagging_tags %}

<div class="blog-post left ">
    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
    
    <div class="blog-post-tease">
        {% if blog_post.tease %}
             {% with blog_post.tease|truncatewords:"150" as body %}

                  {{ body|safe }} 
                                            
            {% endwith %}
        {% else %}
            {% with blog_post.body|truncatewords:"150" as body %}
                {% if blog_post.markup %}
                    {% switch blog_post.markup %}
                        {% case 'rst' %} {{ body|safe }} {% endcase %}
                        {% case 'mrk' %} {{ body|safe }} {% endcase %}
                        {% case 'txl' %} {{ body|safe }} {% endcase %}
                    {% endswitch %}
                {% else %}
                    {{ body|safe }}
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    
</div>
