{% extends "features/base.html" %}

{% load switchcase %}
{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load comments_tag %}
{% load tagging_tags %}
{% load blog_tags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Blog Post{% endblocktrans %} : {{ post.title }}{% endblock %}
{% block jquery_src %}http://173.255.213.55/wb/media/js/jquery-1.5.2.min.js{%endblock%}

{% block extra_head %}
    <style>
    #featureList {
	background-color:#DEF;
	width:140px;
	float:right;
	padding:4px;
	}
	.left {float:left;}
	.clearFix{clear:both;}
	#post-body { border-bottom: 1px dotted grey;}
	</style>
	     
    <script src="http://173.255.213.55/wb/media/js/jquery-1.5.2.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="http://173.255.213.55/wb/media/js/gmap-0.2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}features/mapper.js"></script>
    <link type="text/css" href="http://173.255.213.55/wb/media/css/pikachoose/styles/tof-features-gallery.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="{{STATIC_URL}}features/css/features.css"/>
	
    <link rel="alternate" type="application/atom+xml" title="Blog Post Feed for All Users" href="/feeds/posts/all/" />
    <link rel="alternate" type="application/atom+xml" title="Blog Post Feed for User {{ post.author.username }}" href="/feeds/posts/only/{{ post.author.username }}/" />
	<script type='text/javascript'>
	$(document).ready(function(){
		Map.width = '650px';
		Map.height = '500px';
		Map.zoom = 12;
		Map.mapType = google.maps.MapTypeId.HYBRID;		
		Map.init("#map_canvas");
		Map.layers[0] = {};
		Map.layers[0].geom=[];
	
		window.features = {{features|safe}}
		{# include "features/draw_features.html" #}
		draw_features(features);  // This function is in mapper.js
		Map.resize(Map.layers[0]);
	});
	
	</script>	
{% endblock %}

{% block body %}
    <div class="blog-post">
    	<div class="feature-list-header">           
        <h2 class="left">{{ post.title }}</h2>
        {% ifequal post.author request.user %}
            <a href="{% url feature_edit post.id %}">Edit {% if post.project_of %}Feature{% else %}Project{%endif%}</a>
            {% endifequal %}
        </div>
        <div class="clearFix"></div>
        <div class="blog-meta"><p>Posted by: <a href="{% url profile_detail post.author.username %}">{% user_display post.author %}</a> on {{ post.publish|date }}</p></div>
        <div class="blog-tags">
            <p>{% silk "tag_blue" %}
            {% tags_for_object post as tags %}
            {% for tag in tags %}
                <a href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}</p>
        </div>
        
        
        <div>
	      <div id="map_canvas" class="left" style="width:650px; height:500px;"></div>
	      
	      <div id="featureList">
	      	<h3>Features:</h3>
	      	{% if  post.feature_set.all %}
	      	<ul>
	      	  {% for f in post.feature_set.all %}
	      	  <li><a href="{{f.get_absolute_url}}">{{f.title|safe}}</a></li>
	      	  {%endfor%}
	      	</ul>
	      	{% else %}
	      	This project has no features.
	      	{% endif %}
	      	
	      </div>
	      
    	</div>
    	<div class="clearFix"></div>
    	<div id="post-body">
    	<h3>About {{post.title}}</h3>
    		{% if post.markup %}
            	{% switch post.markup %}
                	{% case 'rst' %} {{ post.body|safe }} {% endcase %}
                    {% case 'mrk' %} {{ post.body|safe }} {% endcase %}
                    {% case 'txl' %} {{ post.body|safe }} {% endcase %}
                {% endswitch %}
            {% else %}
                    {{ post.body|safe }}
            {% endif %}
    	</div>
    	<div id="pikachoose">
    		<h3>Photo Gallery</h3>
    		{% with post.photoset.image_set.all as photos %}
    		{% if photos %}
                    
                    <ul id="pikame" class="jcarousel-skin-pika">
                    {% for photo in photos %}
                        <!-- 
                        <div class="gallery-photo-thumb">
                            <a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
                        </div>
                        -->
                        <li><a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}"/></a><span>{{photo.title}} - {{ photo.caption }}</span></li>
                    {% endfor %}
                    </ul>
                {% else %}
                   {% trans "No photos uploaded yet." %}
                {% endif %}
               {% endwith %}
    	</div>
        
        
        {# show_feature post #}
    </div>
    
    <h3>Journal Entries for this {% if post.feature_of %}feature{%else%}project{% endif %}:</h3>
    {% comments post %}
    {% if free_threaded_comments %}
    <h2>Mobile Uploads</h2>
    {% for ftc in free_threaded_comments %}
    <div>
    {{ftc.date_submitted}} - {{ftc.comment}}
    </div>
    {% endfor %}
	{%endif%}
	
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
$(document).ready(function () {
	$.getScript('http://173.255.213.55/wb/media/js/jquery.pikachoose.js',function(){
		$("#pikame").PikaChoose({carousel:true, 
								 autoPlay:true,
								 transition:[0],
								 });
	});
})

</script>


{%endblock%}
