{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load blog_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
	<script src="http://173.255.213.55/wb/media/js/jquery-1.5.2.min.js" type="text/javascript"></script>
	{% include "widgets/map_includes.html" %}
	
	<link rel="stylesheet" href="{{STATIC_URL}}features/css/features.css"/>
	<script type="text/javascript">
	$(document).ready(function(){
		Map.width="800px";
		Map.height="400px";
		Map.center=[40,-100];
		Map.zoom=4;
		Map.mapType=google.maps.MapTypeId.HYBRID;
		Map.init("#map_canvas");

		//var styledMapOptions = {
		//	name:'Plain'
		//};
		//var myMapType = new google.maps.StyledMapType(style1, styledMapOptions);
		//Map.map.mapTypes.set('plain', myMapType);
		//Map.map.setMapTypeId('plain');
		Map.layers[0] = {};
		Map.layers[0].geom=[];
			
		window.features = {{features_json|safe}};
		draw_features(features);  // This function is in mapper.js
		Map.resize(Map.layers[0]);
	});
	</script>
	
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to the Open Forest." %}</h1>
    
    <p>
        {% blocktrans %}
       A social network for people who care about our environment. This site aims to foster sustainable use and restoration of forested lands. 
        {% endblocktrans %}
    </p>
        
    <div id="map_canvas"></div>
    <div class="feature-list-header">      
    <h2 class="left">Latest Features Added</h2> <a href="{% url feature_list_all %}">Show all</a>
    </div>
    <div class="clearFix"></div>
    {% for f in features %}
    	<div class="featureRow">
    	{% show_feature f %}
    	{% show_feature_meta f %}
    	</div>
    {%endfor%}
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">Things to do</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
