{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load group_tags %}
{% load microblogging_tags %}
{% load uni_form_tags %}

{% if user.is_authenticated %}

<h3><a href="/invitations/">Invite others to join</a></h3>

<h3><a href="{% url feature_list_yours %}">{% trans "Your Projects" %}</a></h3>

<div></div> 
 {% else %} {# not user.is_authenticated #}
          {% url acct_signup as signup_url %}
          {% url acct_login as login_url %}
          <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> or <a href="{{ login_url }}">log in </a> to start sharing your forest story.{% endblocktrans %}</p>
 {% endif %}
      
      
 